<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="Ryan Large" />
<meta name="copyright" content="Ryan Large" />
<meta name="description" content="A fullstack TodoList application." />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./styles/global.css">
<link rel="stylesheet" href="./styles/profile.css" type="text/css" media="all" />
<script defer type="module" src="./scripts/global.js"></script>
<script
defer
src="./scripts/profile.js"
type="module"
charset="utf-8"
></script>
<script defer src="https://kit.fontawesome.com/a673862905.js" crossorigin="anonymous"></script>
<title>Node.js</title>
</head>
<body>
<%- include('./partials/Header/Header.ejs') %>
<%- include('./partials/Nav/Nav.ejs') %>
<h1 class="name"><%=name%>'s <br />ToDoo's</h1>
<h2 class="success"><%=success%></h2>
<h2 class="show-form">Add A Todo</h2>
<form method="post" action="/add" class="flex-col profile-form">
<label for="title">What will you do today?</label>
<input type="text" name="title" id="title" />
<label for="time">What time?</label>
<input type="datetime" name="time" id="time" />
<label for="location">Where?</label>
<input type="text" name="location" id="location" />
<button type="submit" class="button">Add Todo</button>
</form>
<div class="side-menu-toggle">
<i class="fa-solid fa-sliders"></i>
</div>
<div class="side-menu flex-col">
<div class="item flex-reg">
<p>
Todoo
</p>
</div>
<div class="item flex-reg">
<p>
Finished
</p>
</div>
<div class="item flex-reg">
<p>
Missed
</p>
</div>
<div class="item flex-reg">
<p>
In Progress
</p>
</div>
</div>
<h2 class="list-indicator">Todoo</h2>
<div class="list" id="Todoo">
<% todos.forEach(todo => {
%>
<div class="todo">
<h3><%=todo.Content%></h3>
<h4><%=todo.Where%></h4>
<h5><%=todo.When%></h5>
</div>
<%
}); %>
</div>
<div class="list" id="Finished">
<% finishedTodos.forEach(todo => {
%>
<div class="finished">
<h3><%=todo.Content%></h3>
<h4><%=todo.Where%></h4>
<h5>Completed on <%=todo.updatedAt%></h5>
</div>
<%
}); %>
</div>
<div class="list" id="Missed">
</div>
<div class="list" id="In Progress">
</div>
</body>
</html>